<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutus-content.css') }}"
    />
  </head>

  <body class="body-aboutuscontent">
    <section id="aboutus-scroll">
      <div class="esvabout animated">
        <video autoplay muted loop id="myVideo">
          <source
            src="{{ url_for('static', filename='img/aboutus/ecobackground.mp4') }}"
            type="video/mp4"
          />
        </video>
        <div class="all_text">
          <h2 id="title">Về Eco Smart Solutions</h2>
          <hr class="seperate" />
          <div id="detailtext">
            <h5 class="text1">
              Đến năm 2024, Eco Smart Solutions đặt mục tiêu trở thành doanh nghiệp đi đầu trong sứ mệnh xây dựng hệ sinh thái các doanh nghiệp bền vững tại Việt Nam.         
Tầm nhìn đến năm 2026, Eco Smart Solutions mục tiêu tiên phong trên thị trường Đông Nam Á trong việc cung cấp giải pháp hỗ trợ kinh doanh tối ưu, đáp ứng nhu cầu tăng trưởng của các doanh nghiệp bền vững trong và ngoài nước.

            </h5>
            <a href="/about-us/" class="text2">Đọc thêm</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
