<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>About Us</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/aboutus/logo2.png') }}"
      type="image/x-icon"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutus.css') }}"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="font-family: 'Heebo', sans-serif" class="body-aboutus">
    {% include 'navbar.html' %}
    
    <div class="bodystyle">
      <div class="head1">
        <h1>Về chúng tôi</h1>
      </div>
    {% include 'sidebar.html' %}
      <div>
        <div class="mainstyle mainstyle-1">
          <!-- Including: Awareness, Mission & Vision, Founder -->
          <h2 class="head2awareness">Nhận thức, sứ mệnh và tầm nhìn</h2>
        </div>

        {% include 'animation.html' %}

        
        <div class="ourteam-background">
          <div class="mainstyle mainstyle-2">
            <h2 class="head2executive">Ban điều hành</h2>
            {% include 'ourteam.html' %}
          </div>
        </div>
        
        <div class="mainstyle mainstyle-3">
          <h2 class="head2ourteam">Câu chuyện của Eco Smart Việt Nam</h2>
          <!-- Founder Content -->
          <div class="interview">
            <figure>
              <img
                class="caption rounded"
                src="{{ url_for('static', filename='img/aboutus/founder.jpg') }}"
                alt="Founder"
              />
              <!-- <img class="caption" src="../assets/pics/aboutus/founder.jpg" alt="Founder" /> -->
              <figcaption class="founder_pic">
                Người sáng lập Eco Smart Việt Nam - Mr. Bùi Đình Trí
              </figcaption>
            </figure>
            <hr class="aboutus-hr"/>
            <p class="statementfromTri">
              Để hình thành và phát triển một dự án, sự đóng góp của tổng giám
              đốc là vô cùng quan trọng. Hôm nay hãy cùng chúng tôi tìm hiểu về
              người sáng lập ra Eco Smart Việt Nam - anh Bùi Đình Trí qua những
              thông tin phỏng vấn dưới đây để hiểu thêm nhiều thông tin thú vị
              về Eco Smart. Hãy bắt đầu nào!
            </p>
            <p class="question">
              Câu 1: Giới thiệu và kể 3 điều thú vị về bản thân anh.
            </p>
            <p class="answer">
              Anh Trí: Hiện tại tôi đang là du học sinh học 2 chuyên ngành Khoa
              học Máy tính và Kinh tế ở Mỹ. Ba điều thú vị về tôi có lẽ là tôi
              thuận tay trái, liều lĩnh (nhưng trong tầm kiểm soát) và lười học
              (nhưng vẫn học tốt).
            </p>
            <p class="question">
              Câu 2: Anh Trí, cơ duyên nào đã đưa anh đến với việc thành lập Eco
              Smart Việt Nam?
            </p>
            <p class="answer">
              Anh Trí: Cái duyên có lẽ bắt nguồn từ việc tôi tham gia một trong
              những hoạt động thường niên của Trung tâm hỗ trợ khởi nghiệp dành
              cho doanh nhân và doanh nghiệp trẻ của trường tôi. Ban Khởi nghiệp
              và Đổi mới Sáng tạo của Macalester trao thưởng cho các bạn trẻ có
              ý tưởng, sáng kiến đặc biệt giúp cải thiện cuộc sống của cộng đồng
              xung quanh họ. Tôi đã may mắn giành được giải thưởng và Eco Smart
              Việt Nam là ý tưởng đã giúp tôi giành được giải thưởng đó (giải
              thưởng có tên ban đầu là Eco Heroes Campaign).
            </p>
            <p class="question">
              Câu hỏi 3: Anh có thể chia sẻ một chút về mục tiêu và kỳ vọng mà
              bạn đặt ra tại Eco Smart Việt Nam trong tương lai?
            </p>
            <p class="answer">
              Anh Trí: Như tôi chia sẻ, tôi là người có máu liều lĩnh nhưng
              trong tầm kiểm soát, vì vậy mục tiêu và kỳ vọng của tôi thường cân
              bằng giữa những điều xa vời và thực tế. Tôi thực sự kỳ vọng Eco
              Smart Việt Nam sẽ trở thành một trong những tổ chức môi trường lớn
              nhất và chuyên nghiệp nhất ở khu vực miền Bắc. Tuy nhiên, trước
              mắt, Eco Smart chỉ cần lớn nhất ở trong Hà Nội thôi đã (chắc là
              lớn nhất trong Hà Nội là đứng thứ 2 hoặc thứ 3 toàn miền Bắc nhỉ?)
            </p>
            <p class="question">
              Câu hỏi 4: Anh có điều gì muốn nói với độc giả và những người theo
              dõi của dự án không?
            </p>
            <p class="answer">
              Anh Trí: Tôi chỉ muốn nói rằng Eco Smart Vietnam là một dự án sẽ
              không mọi người phải thất vọng bởi vì với đội ngũ của Eco Smart
              chúng tôi - những người mà tôi tin là đầy tài năng và trách nhiệm
              - sẽ có thể giúp dự án phát triển và lan tỏa rộng rãi. Ngoài ra,
              chúng tôi cũng xin được cam kết là Eco Smart Việt Nam sẽ luôn nỗ
              lực hết mình để hoàn thành sứ mệnh mà chính chúng tôi đặt ra: Hành
              động vì sự phát triển và an toàn của môi trường Việt Nam!”
            </p>
            <hr />
          </div>
        </div>
      </div>
      {% include 'footer1.html' %}
    </div>
  </body>
</html>
