<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutus-content.css') }}"
    />
  </head>

  <body class="body-aboutuscontent">
    <section id="aboutus-scroll">
      <div class="esvabout animated">
        <video autoplay muted loop id="myVideo">
          <source
            src="{{ url_for('static', filename='img/aboutus/ecobackground.mp4') }}"
            type="video/mp4"
          />
        </video>
        <div class="all_text">
          <h2 id="title">Về Eco Smart Vietnam</h2>
          <hr class="seperate" />
          <div id="detailtext">
            <h5 class="text1">
              Giai đoạn 2022-2024, Eco Smart Việt Nam hoạt động với tầm nhìn
              trở thành một trong những tổ chức sinh viên tích cực hành động vì
              môi trường hàng đầu miền Bắc. Đặc biệt, ESV là đơn vị tiên phong thúc đẩy phát 
              triển các sản phẩm thân thiện với môi trường.
            </h5>
            <a href="/about-us/" class="text2">Đọc thêm</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
