<!-- “Activity section used for providing users activities information
//Made by Anh Khôi” -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}" />

    <title>Activities</title>
    <link rel="icon" href="{{ url_for('static', filename='img/aboutus/logo.png') }}" type="image/x-icon" />
</head>

<body>
    {% include 'navbar.html' %}
    <div class="background-activities">
        <table>
            <section id="activities_folder">
                <div class="activities_line">
                    <div class="activities_photo">
                        <a href="https://www.facebook.com/photo/?fbid=107995395495248&set=pcb.107563388871782"> <img src="{{ url_for('static', filename='img/activities/activities1.jpg') }}" alt="activites1" class="anh anh1"> </a>
                        <figure class="photo_cap">
                            <figcaption>Loài người rồi sẽ ăn ngủ trên đống rác</figcaption>
                        </figure>
                    </div>

                    <div class="activities_photo">
                        <a href="https://www.facebook.com/photo?fbid=106068572354597&set=a.105895305705257"> <img src="{{ url_for('static', filename='img/activities/activities2.jpg') }}" alt="activites2" class="anh anh2"></a>
                        <figure class="photo_cap">
                            <figcaption>Eco Smart Vietnam</figcaption>
                        </figure>
                    </div>

                    <div class="activities_photo">
                        <a href="https://www.facebook.com/photo?fbid=114589198169201&set=a.109001262061328"> <img src="{{ url_for('static', filename='img/activities/activities3.jpg') }}" alt="activites3" class="anh anh3"></a>
                        <figure class="photo_cap">
                            <figcaption>Human of Eco Smart Vietnam ep 02</figcaption>
                        </figure>
                    </div>

                    <div class="activities_photo">
                        <a href="https://www.facebook.com/photo?fbid=112881635006624&set=pcb.112882615006526"> <img src="{{ url_for('static', filename='img/activities/activities4.jpg') }}" alt="activites4" class="anh anh4"> </a>
                        <figure class="photo_cap">
                            <figcaption>Vũ trụ có thực sự đáng sống?</figcaption>
                        </figure>
                    </div>

                    <div class="activities_photo">
                        <a href="https://www.facebook.com/photo?fbid=112881805006607&set=pcb.112882615006526"> <img src="{{ url_for('static', filename='img/activities/activities5.jpg') }}" alt="activites5" class="anh anh5"></a>
                        <figure class="photo_cap">
                            <figcaption>Tình trạng hiện nay</figcaption>
                        </figure>
                    </div>

                    <div class="activities_photo">
                        <a href="https://www.facebook.com/photo/?fbid=117929084501879&set=pcb.117926967835424"> <img src="{{ url_for('static', filename='img/activities/activities6.jpg') }}" alt="activites6" class="anh anh6"></a>
                        <figure class="photo_cap">
                            <figcaption>Thông điệp vũ trụ</figcaption>
                        </figure>
                    </div>
            </section>
            </div>
            {% include 'footer.html' %}
</body>

</html>