<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
</head>

<body>
    <section class="section">
        <div class="slider">
            <div class="slide">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="st first">
                    <img src="{{ url_for('static', filename='img/aboutus/aware1.jpg') }}" alt="Awareness1" />
                    <div class="animation-content">
                        <p>In 10 centuries, a new plastic bottle will decompose.</p>
                        <p>100 years from now, 1 plastic bag will leave this earth.</p>
                        <p>But...</p>
                        <p>Humanity discharges 3.5 million tons of garbage every day.</p>
                        <p>Each year, Vietnamese people emit about 1.8 million tons of plastic waste.</p>
                    </div>
                </div>

                <div class="st">
                    <img src="{{ url_for('static', filename='img/aboutus/aware2.jpg') }}" alt="Awareness 2">
                    <div class="animation-content">
                        <p>If now, inaction, then when?</p>
                        <p>A few years later, when that pile of garbage has not yet decomposed, will humanity eat on the garbage heap, sleep on the garbage pile, and drown in the ocean of garbage?</p>
                    </div>
                </div>

                <div class="st">
                    <img src="{{ url_for('static', filename='img/aboutus/mission.jpg') }}" alt="Mission">
                    <div class="animation-content">
                        <p>Eco Smart VietNam is committed to 2 main MISSIONS and VISIONS:</p>
                        <p>- Raising Vietnamese awareness of environmental protection activities</p>
                        <p>- Promote the development of eco friendly products.</p>
                        <p>With CORE VALUES:</p>
                        <p>- Effectiveness: Actionable results.</p>
                        <p>- Respect: Listening, sincerity and humility</p>
                        <p>- Professionalism: Discipline, professionalism and quality</p>
                    </div>
                </div>

                <div class="st">
                    <img src="{{ url_for('static', filename='img/aboutus/history.jpg') }}" alt="Vision">
                    <div class="animation-content">
                        <p>With those things, ECO SMART VIETNAM was born.</p>
                        <p>In 2022-2024, Eco Smart VietNam operates with the vision of becoming one of the leading active student organizations in the North acting for the environment. In particular, ESV is a pioneer in promoting the development of environmentally
                            friendly products.</p>
                    </div>
                </div>

                <div class="nav-auto">
                    <div class="a-b1"></div>
                    <div class="a-b2"></div>
                    <div class="a-b3"></div>
                    <div class="a-b4"></div>
                </div>

                <div class="nav-m">
                    <label for="radio1" class="m-btn"></label>
                    <label for="radio2" class="m-btn"></label>
                    <label for="radio3" class="m-btn"></label>
                    <label for="radio4" class="m-btn"></label>
                </div>
            </div>
        </div>
    </section>

    <!-- Java for animation -->
    <script type="text/javascript">
        var counter = 1;
        setInterval(function() {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 4) {
                counter = 1;
            }
        }, 5000)
    </script>
</body>

</html>