<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liên hệ</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/aboutus/logo2.png') }}"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/contactus.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/button.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap" rel="stylesheet">


    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>

    <script type="text/javascript">
      (function () {
        emailjs.init("qKMuaq5-XFFxWlReH");
      })();
    </script>

    <script
      src="{{ url_for('static', filename='js/contactus.js')}}"
      type="text/javascript"
    ></script>
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">

  </head>

  <body style="font-family: 'Inter', sans-serif">
    {% include 'navbar.html' %}

    <div class="contact-us-body">
      <div class="content-left flex-item">
        <h1 class="scripts1">// Thông tin liên lạc</h1>
        <h2 class="scripts2">Liên lạc với chúng tôi</h2>
        <div class = "diachicontact">
          <img src="{{ url_for('static', filename='img/contactus/globe.png') }}" alt="activites1" class="anh anh1">
           <h2> Địa chỉ của chúng tôi:</h2>
           <h2> Nhà 28, ngách 1/6, ngõ 140 Nguyễn Xiển, Thanh Xuân</h2>
        </div>
        <div class = "diachimail">
          <img src="{{ url_for('static', filename='img/contactus/envelope.png') }}" alt="activites1" class="anh anh1">
           <h2> Địa chỉ gmail của chúng tôi:</h2>
           <h2> ecosmartvietnam@gmail.com </h2>
        </div>
        <div class = "sodienthoai">
          <img src="{{ url_for('static', filename='img/contactus/phone-call.png') }}" alt="activites1" class="anh anh1">
          <h2> Số điện thoại của chúng tôi:</h2>
          <h2> 09090909090 </h2>
        </div>
      </div>

      <div class="content-right flex-item">
        <form class="contact-box" id="contact-form">
          <h2 class="word">Mục gửi thư</h2>

          <input
            class="contact-item"
            type="text"
            name="from_name"
            placeholder="Họ Tên*"
            required
          />
          <br />

          <input
            class="contact-item"
            type="email"
            name="email_id"
            placeholder="Email*"
            required
          />
          <br />

          <textarea
            class="contact-item"
            name="message"
            id="messagebox"
            placeholder="Lời nhắn*"
            required
          ></textarea>
          <br />
          <input type="submit" class="button" value="Gửi" id="send-btn" />
        </form>
      </div>
    </div>
    {% include 'chatbot.html' %}
    {% include 'footer1.html' %}
  </body>
</html>
