<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer.css') }}" />

    <title>Customers</title>
</head>

<body>
    <div class="customer_style">
        <h1 class="c_title">Đối tác nói gì về chúng tôi?</h1>
        <div class="c_wrapper">
            <div class="c_box">

                <p><i class="fas fa-quote-left quote"></i>Ngay từ khi đọc bản đề xuất kinh doanh của Eco Smart Solutions, chúng tôi đã cảm thấy những tác động tích cực mà ESS sẽ đem lại cho đất nước Việt Nam. Đặc biệt, khi được làm việc với Trí, tôi cảm
                    thấy tầm nhìn, sự nhiệt huyết, đam mê, và tinh thần trách nhiệm cao, điều mà quyết định rất lớn đến quyết định đầu tư của chúng tôi.
                    <i class="fas fa-quote-right quote"></i>
                </p>

                <div class="c_content">
                    <div class="c_info">
                        <div class="c_name">
                            Jody Emmings
                        </div>
                        <div class="c_job">
                            Giám đốc Trung tâm Khởi nghiệp và Sáng tạo Macalester - Minnesota, Hoa Kỳ
                        </div>
                        <div class="c_rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                    <div class="c_image">
                        <img src="{{ url_for('static', filename='img/customer/customer_1.png') }}" alt="">
                    </div>
                </div>
            </div>

            <div class="c_box">
                <p>
                    <i class="fas fa-quote-left quote"></i> Giải pháp hỗ trợ thúc đẩy kinh doanh cho các doanh nghiệp phát triển bền vững của Eco Smart Solutions là một mô hình kinh doanh bền vững và có tính hiệu quả cao, góp phần tham gia vào các chính
                    sách phát triển bền vững của xã hội mà chính phủ đang đề ra.
                    <i class="fas fa-quote-right quote"></i>
                </p>
                <div class="c_content">
                    <div class="c_info">
                        <div class="c_name">
                            Bùi Tôn Hiến
                        </div>
                        <div class="c_job">
                            Cục trưởng cục Khoa học Lao Động và Xã Hội, Bộ Lao Động Thương Binh và Xã hội
                        </div>
                        <div class="c_rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                    <div class="c_image">
                        <img src="{{ url_for('static', filename='img/customer/customer_2.png') }}" alt="">
                    </div>
                </div>
            </div>

            <div class="c_box">

                <p><i class="fas fa-quote-left quote"></i>Ngay từ khi đọc bản đề xuất kinh doanh của Eco Smart Solutions, chúng tôi đã cảm thấy những tác động tích cực mà ESS sẽ đem lại cho đất nước Việt Nam. Đặc biệt, khi được làm việc với Trí, tôi cảm
                    thấy tầm nhìn, sự nhiệt huyết, đam mê, và tinh thần trách nhiệm cao, điều mà quyết định rất lớn đến quyết định đầu tư của chúng tôi.
                    <i class="fas fa-quote-right quote"></i>
                </p>

                <div class="c_content">
                    <div class="c_info">
                        <div class="c_name">
                            Jody Emmings
                        </div>
                        <div class="c_job">
                            Giám đốc Trung tâm Khởi nghiệp và Sáng tạo Macalester - Minnesota, Hoa Kỳ
                        </div>
                        <div class="c_rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                    <div class="c_image">
                        <img src="{{ url_for('static', filename='img/customer/customer_1.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</body>

</html>