<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link ref="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}"/>
</head>
<body class="error-body">
    <div class="error-content">
        <img title="Error" class="error-image" src="https://cdn.dribbble.com/users/992274/screenshots/7392790/media/95483df50a0a3324c4cf9ccb1094b825.jpg">
        <h1 class="error-text error-text-h1">Oops! Có lỗi gì đó đang xảy ra</h1>
        <p class="error-text error-text-p">Quay lại trang chủ hoặc báo lại sự cố này với chúng tôi</p>
        <div class="button-container">
            <a class="error-button button-home" href="/">Trang Chủ</a>
            <a class="error-button button-contactus" href="/contact-us/">Liên Hệ</a>
        </div>
    </div>
</body>
</html>