<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/aboutus/logo2.png') }}"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/feedback.css') }}"
    />
  </head>
  <body class="fb-body">
    <div class="fb-slide">
      <button class="fb-slide-btn">
        <p class="fb-title">
          Provide feedback <i class="fa-sharp fa-solid fa-tree"></i>
        </p>
      </button>
    </div>

    <div class="fb-content">
      <div class="fb-content-right">
        <i class="fa-regular fa-circle-xmark fb-closebtn"></i>
      </div>
      <div class="fb-content-left">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSdZG99r2NmYhJru_FMY1jc8qJwG8dBJJ_pBi7FCjjoJvw7vKQ/viewform?embedded=true"
          
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          class="fb-form"
          >Đang tải…</iframe
        >
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="{{ url_for('static', filename='js/feedback.js')}}"
      type="text/javascript"
    ></script>
    <script
      src="https://kit.fontawesome.com/550795c27f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
