<link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}" />
<div class="background_footer">
    <p class="footerstyle">
        All right reserved by
        <a href="https://www.facebook.com/ecosmartvietnam"> ECO SMART VIETNAM</a>
    </p>
    <div>
        <a href="https://www.facebook.com/ecosmartvietnam"><img class="footerimages" src="{{ url_for('static', filename='images/footer/facebook.png') }}" alt="" /></a>
        <a href="https://www.instagram.com/ecosmart.vietnam/"><img class="footerimages" src="{{ url_for('static', filename='images/footer/ins.gif') }}" alt="" /></a>
    </div>
</div>
