
<link rel="stylesheet" href="../static/css/footer1.css" />

<footer class="footer" id = "footer">
  <div class="footer-content">
    <h4>Eco Smart Solutions</h4>
    <p>
      Đội ngũ Eco Smart Solutions luôn đặt tôn chỉ Hiệu quả - Tôn trọng - Chuyên nghiệp luôn cố gắng hoạt động vì mục tiêu kiến tạo một thế giới bền vững.
    </p>
  </div>

  <div class="footer-social">
    <a href="https://www.facebook.com/ecosmartvietnam"
      ><i class="fa-brands fa-facebook footer-icon"></i
    ></a>

    <a
      href="https://www.instagram.com/ecosmart.vietnam/?fbclid=IwAR33v8jFTPm6HNBmon6yHHyNhUbpEJvLy9DKcHGuEd04n6YYh4S35JoM7hM"
      ><i class="fa-brands fa-instagram footer-icon"></i
    ></a>

    <a href="https://www.linkedin.com"
      ><i class="fa-brands fa-linkedin footer-icon"></i
    ></a>
  </div>

  <div class="footer-bottom">
    <div class="footer-flex-item">
      <p class="copyright-text">
        Bản quyền thuộc về &copy; <a class="footer-link" href="#">ecosmartsolutions</a>
      </p>
    </div>
    <div class="footer-flex-item">
      <div class="footer-menu">
        <p><a class="footer-link" href="">Trang Chủ</a></p>
        <p><a class="footer-link" href="">Về Chúng Tôi</a></p>
        <p><a class="footer-link" href="">Liên Hệ</a></p>
      </div>
    </div>
  </div>
</footer>

<script
  src="https://kit.fontawesome.com/550795c27f.js"
  crossorigin="anonymous"
></script>

<script
      type="text/javascript"
      src="{{ url_for('static', filename='js/scrolltotop.js') }}"
    ></script>
