<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/footer.css') }}"
/>
<link rel="stylesheet" href="../static/css/footer.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<footer>
  <div class="footer-content">
    <h3>Eco Smart Viet Nam</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat optio
      quae maiores odit nobis dolorem atque incidunt, ipsam a nemo ipsa
      blanditiis cumque repudiandae, perferendis, omnis et eaque ad obcaecati.
    </p>
    <!-- <ul class="socials">
      <li>
        <a href="https://www.facebook.com/ecosmartvietnam"
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/ecosmart.vietnam"
          ><i class="fa fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <!-- <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li> 
     </ul> -->
  </div>
  <div class="footer-bottom">
    <p>copyright &copy; <a href="#">ecosmartvietnam</a></p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- <script>
  $(window).on("load", function () {
    $(".loader").fadeOut("slow");
  });
</script>
<style>
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    transition: opacity 2s, visibility 2s;
  }
</style>

<div class="loader">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->
<!--flask --app build.py --debug run   -->
