<!-- index.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/activities.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/aboutus.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/slideshow.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}" />
    <title>Eco Smart Vietnam</title>
    <!-- add icon link -->
    <link rel="icon" href="{{ url_for('static', filename='images/aboutus/logo.png') }}" type="image/x-icon">
</head>

<body>
    <!-- include navbar.html here -->
    {% include 'navbar.html' %} 

    <!-- include body.html here -->
    {% include 'button.html' %} 
    {% include 'activities_content.html' %} 
    <iframe style="display: block; margin: 50px auto;" width="560" height="315" src="https://www.youtube.com/embed/doeU59yKY78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% include 'slideshow.html' %}
    <div>{% include 'aboutus_content.html' %}</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OG"></script>
</body>

</html>