<!-- index.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap" rel="stylesheet">

    <title>Eco Smart Solutions</title>
    <link rel="icon" href="{{ url_for('static', filename='img/aboutus/logo2.png') }}" type="image/x-icon" />
</head>

<body style="font-family: 'Inter', sans-serif">
    <!-- include navbar.html here -->
    {% include 'navbar.html' %}

    <!-- include body.html here -->
    {% include 'scrolling.html' %} {% include 'slideshow.html' %} {% include 'sponsor.html' %} {% include 'customer.html' %} {% include 'process.html' %} {% include 'achievement.html' %} {% include'productfeature.html' %} {% include 'video.html' %}
    <div>{% include 'aboutus_content.html' %}</div>
    {% include 'footer1.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</body>

</html>