<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="contact_session">
        <div class="left">
            <p class="heading">Liên hệ</p>
            <h1 class="logo">Eco Smart Vietnam</h1>
            <p class="contact">Thông tin liên hệ</p>
            <div class="info">
            <p>Tên: Bùi Đình Trí</p>
            <p>Phone: (+84) 868 855 505</p>
            <p>Địa chỉ: Nhà 28, ngách 1/6, ngõ 140 Nguyễn Xiển, quận Thanh Xuân, thành phố Hà Nội </p>
            <p>Email:ecosmart.vietnam@gmail.com</p>
            </div>
        </div>
        <div class="right map_loading" id="map-loading">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59601.78673198879!2d105.73427935820311!3d20.98816030000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad55ee9769e7%3A0x441e0d383ae32492!2zQ2h1bmcgY8awIFgxIEjhuqEgxJHDrG5o!5e0!3m2!1sen!2s!4v1678719653143!5m2!1sen!2s" 
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
  

</body>
</html>