<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ourteam.css') }}">
    <title>Executive Board</title>
</head>

<body>
    <section id="ecoteam">
        <div class="row">
            <!--Chi Giang-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/leadhr.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Do Pham Chau Giang</h3>
                <p>Lead of HR</p>
                <div class="personaldetail">Personal Detail</div>
                <div class="icons"></div>
            </div>

            <!--Anh Tri-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/president.jpg') }}" alt="Mr Bui Dinh Tri - Founder">
                </div>
                <h3>Bui Dinh Tri</h3>
                <p>Founder - President</p>
                <div class="personaldetail">Personal Detail</div>
            </div>

            <!--Anh Trung-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/leadrd.jpg') }}" alt="Mr Dam Quang Trung - Lead of R&D">
                </div>
                <h3>Dam Quang Trung</h3>
                <p>Lead of R&D</p>
                <div class="personaldetail">Personal Detail</div>
            </div>
    </section>
</body>

</html>