<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ourteam.css') }}">
    <title>Executive Board</title>
</head>

<body>
    <section class="meet-our-team">
        <h2 class = "head2executive"> Ban Điều Hành</h2>
        <div class="row">
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/coo.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Nguyễn Việt Hoàn</h3>
            <p>Giám đốc điều hành </p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/president.jpg') }}" alt="Mr Bui Dinh Tri - Founder">
            <h3>Bùi Đình Trí</h3>
            <p>Tổng giám đốc</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/cco.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Nguyễn Kim Ngân</h3>
            <p>Giám đốc sáng tạo</p>
          </div>
        </div>
        
    
        <div class="row">
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/advisorrd.jpg') }}" alt="Mr Dam Quang Trung - Lead of R&D">
            <h3>Đàm Quang Trung</h3>
            <p>Cố vấn nghiên cứu và phát triển</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/headrd.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Ngô Châu Anh</h3>
            <p>Giám đốc nghiên cứu và phát triển</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/headhr.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Đỗ Phạm Châu Giang</h3>
            <p>Giám đốc nhân sự</p>
          </div>
        </div>
        
    
        <div class="row">
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/vicebus_1.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Hoàng Tú Uyên</h3>
            <p>Phó giám đốc kinh doanh</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/headbus.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Lưu Phan Phương Linh</h3>
            <p>Giám đốc kinh doanh</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/vicebus_2.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Vũ Phương Thảo</h3>
            <p>Phó giám đốc kinh doanh</p>
          </div>
        </div>
    
        <div class="row">
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/vicemarcom_1.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Hoàng Hiểu Minh</h3>
            <p>Phó giám đốc truyền thông/ tiếp thị</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/headmarcom.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Nguyễn Minh Khuê</h3>
            <p>Giám đốc truyền thông/ tiếp thị</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/vicemarcom_2.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Lê Nguyễn Việt Anh</h3>
            <p>Phó giám đốc truyền thông/ tiếp thị</p>
          </div>
        </div>
    
        <div class="row">
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/viceit_1.jpg') }}" alt="Giang Pham">
            <h3>Phạm Ninh Giang</h3>
            <p>Phó giám đốc công nghệ thông tin</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/headit.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Huỳnh Lê Diễm Quí</h3>
            <p>Giám đốc công nghệ thông tin</p>
          </div>
          <div class="member">
            <img src="{{ url_for('static', filename='img/aboutus/viceit_2.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
            <h3>Kiều Minh Đức</h3>
            <p>Phó giám đốc công nghệ thông tin</p>
          </div>
        </div>
        
        <!-- Repeat the above code for 3 more rows -->
        
      </section>  
    
</body>

</html>