<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ourteam.css') }}">
    <title>Executive Board</title>
</head>

<body>
    <section id="ecoteam">
        <div class="department">
            <!--Ban Chu Tich-->
            <!--Viet Hoan-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/coo.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Nguyễn Việt Hoàn</h3>
                <p>Giám đốc điều hành</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>
        
            <!--Anh Tri-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/president.jpg') }}" alt="Mr Bui Dinh Tri - Founder">
                </div>
                <h3>Bùi Đình Trí</h3>
                <p>Tổng giám đốc</p>
                <div class="personaldetail">Thông tin cá nhân</div>
            </div>

            <!--Kim Ngan-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/cco.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Nguyễn Kim Ngân</h3>
                <p>Giám đốc sáng tạo</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>
        </div>
        <div class="department">
            <!--RD and HR Department-->
            <!--Anh Trung-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/advisorrd.jpg') }}" alt="Mr Dam Quang Trung - Lead of R&D">
                </div>
                <h3>Đàm Quang Trung</h3>
                <p>Cố vấn nghiên cứu và phát triển</p>
                <div class="personaldetail">Thông tin cá nhân</div>
            </div>

            <!--Chau Anh-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/headrd.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Ngô Châu Anh</h3>
                <p>Giám đốc nghiên cứu và phát triển</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Chi Giang-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/headhr.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Đỗ Phạm Châu Giang</h3>
                <p>Giám đốc nhân sự</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>
        </div>
        <div class="department">
            <!--Business Department-->
            <!--Tu Uyen-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/vicebus_1.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Hoàng Tú Uyên</h3>
                <p>Phó giám đốc kinh doanh</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Phuong Linh-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/headbus.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Lưu Phan Phương Linh</h3>
                <p>Giám đốc kinh doanh</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Phuong Thao -->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/vicebus_2.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Vũ Phương Thảo</h3>
                <p>Phó giám đốc kinh doanh</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>
        </div>
        <div class="department">
            <!--Mar/Com Department-->
            <!--Hieu Minh-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/vicemarcom_1.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Hoàng Hiểu Minh</h3>
                <p>Phó giám đốc truyền thông/ tiếp thị</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Minh Khue-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/headmarcom.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Nguyễn Minh Khuê</h3>
                <p>Giám đốc truyền thông/ tiếp thị</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Viet Anh-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/vicemarcom_2.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Lê Nguyễn Việt Anh</h3>
                <p>Phó giám đốc truyền thông/ tiếp thị</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>
        </div>
        <div class="department">
            <!--IT Department-->
            <!--Ninh Giang-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/viceit_1.jpg') }}" alt="Giang Pham">
                </div>
                <h3>Phạm Ninh Giang</h3>
                <p>Phó giám đốc công nghệ thông tin</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Diem Qui-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/headit.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Huỳnh Lê Diễm Quí</h3>
                <p>Giám đốc công nghệ thông tin</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>

            <!--Minh Duc-->
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/aboutus/viceit_2.jpg') }}" alt="Miss Do Pham Chau Giang - Lead of HR">
                </div>
                <h3>Kiều Minh Đức</h3>
                <p>Phó giám đốc công nghệ thông tin</p>
                <div class="personaldetail">Thông tin cá nhân</div>
                <div class="icons"></div>
            </div>
        </div>
    </section>
</body>

</html>