<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/process.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />

    <title>Process</title>
  </head>

  <body>
    <div id="process_main">
      <h2 class="p_title">Quy trình hoạt động - GreenBoost</h2>
      <div class="process_container">
        <input type="radio" class="step1" checked id="" />
        <input type="radio" class="step2" checked id="" />
        <input type="radio" class="step3" checked id="" />
        <input type="radio" class="step4" checked id="" />
        <input type="radio" class="step5" id="" />
        <input type="radio" class="step6" id="" />
        <div class="process_head">
          <ul class="p_nav">
            <li class="st1">
              <h2 class="p_inner">Tìm kiếm</h2>
            </li>
            <li class="st2">
              <h2 class="p_inner">Gói dịch vụ</h2>
            </li>
            <li class="st3">
              <h2 class="p_inner">Truyền thông</h2>
            </li>
            <li class="st4">
              <h2 class="p_inner">Cộng đồng</h2>
            </li>
            <li class="st5">
              <h2 class="p_inner">Tư vấn & Hỗ trợ</h2>
            </li>
            <li class="st6">
              <h2 class="p_inner">Đánh giá</h2>
            </li>
            <div class="p_line">
              <span></span>
            </div>
          </ul>

          <div class="p_content">
            <section class="step1-section">
              <span><i class="fa-sharp fa-solid fa-magnifying-glass"></i></span>
              <h1>Tìm kiếm đối tác</h1>
              <p>
                Chúng tôi sẽ tìm kiếm, chọn lọc và đề xuất hợp tác với các doanh nghiệp
                trong hệ sinh thái các doanh nghiệp phát triển bền vững. Chúng tôi sẽ chủ động tiếp cận các
                doanh nghiệp này và gửi lời mời hợp tác kinh doanh, hỗ trợ họ quảng bá thương hiệu và đề xuất các chiến lược phân phối sản phẩm phù hợp.
              </p>
            </section>
            <section class="step2-section">
              <span><i class="fa-solid fa-person-chalkboard"></i></span>
              <h1>Đề xuất gói dịch vụ</h1>
              <p>
                Chúng tôi sẽ tạo ra các gói dịch vụ khác nhau để phù hợp với nhu
                cầu của khách hàng, bao gồm gói 1 năm với mức giá 5 triệu đồng,
                gói 6 tháng với mức giá 3 triệu đồng và gói 3 tháng với mức giá
                2 triệu đồng. Các gói này sẽ bao gồm các dịch vụ như tư vấn
                marketing, quảng cáo trực tuyến, thiết kế trang web, cung cấp
                nội dung và hỗ trợ khách hàng.
              </p>
            </section>
            <section class="step3-section">
              <span><i class="fa-regular fa-tty"></i></span>
              <h1>Xây dựng truyền thông</h1>
              <p>
                Chúng tôi sẽ xây dựng các nền tảng truyền thông như website,
                Facebook, Instagram và TikTok để giới thiệu và quảng bá các sản
                phẩm eco friendly product của đối tác. Chúng tôi sẽ tập trung
                vào việc thiết kế các nội dung hấp dẫn và chia sẻ chúng trên các
                nền tảng này để tăng khả năng tiếp cận của khách hàng.
              </p>
            </section>
            <section class="step4-section">
              <span><i class="fa-sharp fa-solid fa-people-group"></i></span>
              <h1>Xây dựng cộng đồng</h1>
              <p>
                Chúng tôi sẽ xây dựng một cộng đồng các doanh nghiệp kinh doanh
                sản phẩm thân thiện môi trường. Chúng tôi sẽ tạo ra các sự kiện
                trực tuyến và offline nhằm tăng cường sự kết nối giữa các doanh
                nghiệp và khách hàng. Chúng tôi cũng sẽ cung cấp các nội dung
                giáo dục và thông tin về các sản phẩm eco friendly product cho
                cộng đồng này.
              </p>
            </section>
            <section class="step5-section">
              <span><i class="fa-sharp fa-solid fa-headset"></i></span>
              <h1>Tư vấn & hỗ trợ</h1>
              <p>
                Chúng tôi sẽ cung cấp các dịch vụ tư vấn và hỗ trợ khách hàng về
                các sản phẩm eco friendly product của đối tác. Chúng tôi sẽ giúp
                khách hàng tìm kiếm các sản phẩm phù hợp với nhu cầu của họ và
                đưa ra các giải pháp tiết kiệm chi phí cho các doanh nghiệp.
                Chúng tôi cũng sẽ đảm bảo rằng khách hàng nhận được sự hỗ trợ và
                phản hồi kịp thời khi có câu hỏi hoặc yêu cầu hỗ trợ.
              </p>
            </section>
            <section class="step6-section">
              <span><i class="fa-sharp fa-solid fa-list-check"></i></span>
              <h1>Đánh giá hiệu quả</h1>
              <p>
                Chúng tôi sẽ đánh giá hiệu quả của chiến dịch và đưa ra các phản
                hồi để cải thiện chiến dịch trong tương lai. Chúng tôi sẽ đo
                lường các chỉ số như tăng trưởng lượng truy cập trang web, tăng
                trưởng doanh số bán hàng, tăng trưởng lượt theo dõi và tương tác
                trên các mạng xã hội.
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      src="{{ url_for('static', filename='js/process.js')}}"
      type="text/javascript"
    ></script>
  </body>
</html>
