<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản Phẩm</title>
    <!--logo-->
    <link rel="icon"
    href="{{ url_for('static', filename='img/aboutus/logo.png') }}"
    type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
           <!-- FontAwesome Icons -->
           <link rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" /> 
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap" rel="stylesheet">
        
        <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link
    rel="icon"
    href="{{ url_for('static', filename='img/aboutus/logo2.png') }}"
    type="image/x-icon"
    />
</head>
<body class="product-body">



{% include 'navbar.html' %} {% include 'feedback.html' %}
    <div class="bodystyle">
        <div class="head1"><h1>Sản Phẩm</h1></div>
<div class="menu">
        
    <div class="product-items">
        <a class="img-container" href="https://www.facebook.com/ecosmartvietnam/posts/pfbid02U99KPaWdwtcz2oXaupBDeBUrLfFGcVJsjvMzks1MeV6eNgZ3A5YqZUoXzpSaezCzl">
            <img src="{{ url_for('static', filename='img/products/product_page_5.jpg') }}"alt=""></a>
        <div class="details">
            <div class="details-sub">
                <h3 class="product-name"> Dầu dưỡng Hoàng Lan</h3>
                <h3 class="product-price">90.000 VND</h3>
            </div>
            <p>▪️Hồng nhuận da, chống lão hoá, duy trì nét thanh xuân
                ▪️Tăng sức đề kháng, bồi bổ sức khỏe, giúp ngủ ngon
                ▪️Ích trí, bổ huyết, định thần</p>
            
            <div class="goshop" onclick="openPopup1()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 20 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></div>
        </div>
    </div>
       
    <div class="product-items">
        <a class="img-container" href="https://www.facebook.com/ecosmartvietnam/posts/pfbid02U99KPaWdwtcz2oXaupBDeBUrLfFGcVJsjvMzks1MeV6eNgZ3A5YqZUoXzpSaezCzl">
            <img src="{{ url_for('static', filename='img/products/product_page_4.jpg') }}" alt=""></a>
        <div class="details">
            <div class="details-sub">
                <h3 class="product-name"> Tinh dầu Hoắc hương </h3>
                <h3 class="product-price">120.000 VND</h3>
            </div>
            <p>▪️Hồng nhuận da, chống lão hoá, duy trì nét thanh xuân
                ▪️Tăng sức đề kháng, bồi bổ sức khỏe, giúp ngủ ngon
                ▪️Ích trí, bổ huyết, định thần</p>
            
            <div class="goshop" onclick="openPopup2()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 20 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></div>
        </div>
    </div>        
    <div class="product-items">
        <a  class="img-container" href="https://www.facebook.com/ecosmartvietnam/posts/pfbid02U99KPaWdwtcz2oXaupBDeBUrLfFGcVJsjvMzks1MeV6eNgZ3A5YqZUoXzpSaezCzl">
            <img src="{{ url_for('static', filename='img/products/product_page_3.jpg') }}" alt=""></a>
        <div class="details">
            <div class="details-sub">
                <h3 class="product-name">  Tinh dầu hoa hồng</h3>
                <h3 class="product-price">100.000 VND</h3>
            </div>
            <p>▪️Hồng nhuận da, chống lão hoá, duy trì nét thanh xuân
                ▪️Tăng sức đề kháng, bồi bổ sức khỏe, giúp ngủ ngon
                ▪️Ích trí, bổ huyết, định thần</p>
            
            <div class="goshop" onclick="openPopup3()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 20 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></div>
        </div>
    </div>        
    <div class="product-items">
        <a class="img-container"  href="https://www.facebook.com/ecosmartvietnam/posts/pfbid02U99KPaWdwtcz2oXaupBDeBUrLfFGcVJsjvMzks1MeV6eNgZ3A5YqZUoXzpSaezCzl">
            <img src="{{ url_for('static', filename='img/products/product_page_2.jpg') }}"alt=""></a>
        <div class="details">
            <div class="details-sub">
                <h3 class="product-name"> Green Tea</h3>
                <h3 class="product-price">70.00 VND</h3>
            </div>
            <p>▪️Hồng nhuận da, chống lão hoá, duy trì nét thanh xuân
                ▪️Tăng sức đề kháng, bồi bổ sức khỏe, giúp ngủ ngon
                ▪️Ích trí, bổ huyết, định thần</p>
            
            <div class="goshop" onclick="openPopup4()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 20 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></div>
        </div>
    </div>        
    <div class="product-items">
        <a class="img-container"  href="https://www.facebook.com/ecosmartvietnam/posts/pfbid02U99KPaWdwtcz2oXaupBDeBUrLfFGcVJsjvMzks1MeV6eNgZ3A5YqZUoXzpSaezCzl">
            <img src="{{ url_for('static', filename='img/products/product_page_1.jpg') }}"alt=""></a>
        <div class="details">
            <div class="details-sub">
                <h3 class="product-name"> Dark Chocolate Cinnemon</h3>
                <h3 class="product-price">50.000 VnD</h3>
            </div>
            <p>▪️Hồng nhuận da, chống lão hoá, duy trì nét thanh xuân
                ▪️Tăng sức đề kháng, bồi bổ sức khỏe, giúp ngủ ngon
                ▪️Ích trí, bổ huyết, định thần
                ▪️Làm tăng chức năng não bộ, giúp phục hồi trí nhớ đang sút giảm</p>
            
            <div class="goshop" onclick="openPopup5()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 20 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></div>
        </div>
    </div> 

</div>
<div>
    <div class="pop-up" id="popup1">
        <div class="pop-up-product-name"> Dầu dưỡng Hoàng Lan</div> 
        <svg class="close-pop-up"  onclick="closePopup1()" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>

        <img src="{{ url_for('static', filename='img/products/product_page_5.jpg') }}"alt="">
        <div class="pop-up-details-sub">
            
            <h3 class="pop-up-product-sub-name">Dầu dưỡng Hoàng Lan</h3>
            <h3 class="pop-upproduct-price">90.000 VND</h3>
        </div>
        <p>🌿 Những ngày dài ẩm ướt buồn phiền đang đi qua, có chậm nhưng chắc chắn đang qua,
            Và rồi thế giới sẽ trở lại xinh đẹp, dễ chịu và thân quen như cũ.
            🌸 Lá Mây set hũ Sâm gừng mật ong này, dành cho bạn, để hồng nhuận làn da, chống lão hóa, bồi bổ sức khỏe,
            Để chăm sóc, nuông chiều và yêu thương bản thân,
            Trong cuộc sống đang cuốn trôi về phía trước, chưa rõ hình hài, với rất nhiều dự tính âu lo. </p>
        <div class="pop-up-contact-cart">
            <a href="https://www.facebook.com/thoitrangmyecosmart" class="pop-up-contact" > <i class="fa-brands fa-facebook-messenger"></i></a>
           <!-- <svg class="pop-up-contact" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>-->
          <!--  <svg class="pop-up-cart" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
            </svg>-->
        </div>
    </div> 

    <div class="pop-up" id="popup2">
        <div class="pop-up-product-name"> Tinh dầu Hoắc hương</div> 
        <svg class="close-pop-up"  onclick="closePopup2()" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>

        <img src="{{ url_for('static', filename='img/products/product_page_4.jpg') }}" alt="">
        <div class="pop-up-details-sub">
            
            <h3 class="pop-up-product-sub-name"> Tinh dầu Hoắc hương</h3>
            <h3 class="pop-upproduct-price">120.000 VND</h3>
        </div>
        <p>🌿 Những ngày dài ẩm ướt buồn phiền đang đi qua, có chậm nhưng chắc chắn đang qua,
            Và rồi thế giới sẽ trở lại xinh đẹp, dễ chịu và thân quen như cũ.
            🌸 Lá Mây set hũ Sâm gừng mật ong này, dành cho bạn, để hồng nhuận làn da, chống lão hóa, bồi bổ sức khỏe,
            Để chăm sóc, nuông chiều và yêu thương bản thân,
            Trong cuộc sống đang cuốn trôi về phía trước, chưa rõ hình hài, với rất nhiều dự tính âu lo.</p>
        <div class="pop-up-contact-cart">
            <a href="https://www.facebook.com/thoitrangmyecosmart" class="pop-up-contact" > <i class="fa-brands fa-facebook-messenger"></i></a>
           <!-- <svg class="pop-up-contact" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>-->
          <!--  <svg class="pop-up-cart" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
            </svg>-->
    </div>
    </div> 

    <div class="pop-up" id="popup3">
        <div class="pop-up-product-name">Tinh dầu hoa hồng</div> 
        <svg class="close-pop-up"  onclick="closePopup3()" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>

        <img src="{{ url_for('static', filename='img/products/product_page_3.jpg') }}"alt="">
        <div class="pop-up-details-sub">
            
            <h3 class="pop-up-product-sub-name"> Tinh dầu hoa hồng</h3>
            <h3 class="pop-upproduct-price">100.000 VND</h3>
        </div>
        <p>🌿 Những ngày dài ẩm ướt buồn phiền đang đi qua, có chậm nhưng chắc chắn đang qua,
            Và rồi thế giới sẽ trở lại xinh đẹp, dễ chịu và thân quen như cũ.
            🌸 Lá Mây set hũ Sâm gừng mật ong này, dành cho bạn, để hồng nhuận làn da, chống lão hóa, bồi bổ sức khỏe,
            Để chăm sóc, nuông chiều và yêu thương bản thân,
            Trong cuộc sống đang cuốn trôi về phía trước, chưa rõ hình hài, với rất nhiều dự tính âu lo.</p>
        <div class="pop-up-contact-cart">
            <a href="https://www.facebook.com/thoitrangmyecosmart" class="pop-up-contact" > <i class="fa-brands fa-facebook-messenger"></i></a>
           <!-- <svg class="pop-up-contact" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>-->
          <!--  <svg class="pop-up-cart" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
            </svg>-->
    </div>
    </div>
    <div class="pop-up" id="popup4">
        <div class="pop-up-product-name">Green Tea</div> 
        <svg class="close-pop-up"  onclick="closePopup4()"xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>

        <img src="{{ url_for('static', filename='img/products/product_page_2.jpg') }}" alt="">
        <div class="pop-up-details-sub">
            
            <h3 class="pop-up-product-sub-name"> Green Tea</h3>
            <h3 class="pop-upproduct-price">70.00 VND</h3>
        </div>
        <p>🌿 Những ngày dài ẩm ướt buồn phiền đang đi qua, có chậm nhưng chắc chắn đang qua,
            Và rồi thế giới sẽ trở lại xinh đẹp, dễ chịu và thân quen như cũ.
            🌸 Lá Mây set hũ Sâm gừng mật ong này, dành cho bạn, để hồng nhuận làn da, chống lão hóa, bồi bổ sức khỏe,
            Để chăm sóc, nuông chiều và yêu thương bản thân,
            Trong cuộc sống đang cuốn trôi về phía trước, chưa rõ hình hài, với rất nhiều dự tính âu lo.</p>
        <div class="pop-up-contact-cart">
            <a href="https://www.facebook.com/thoitrangmyecosmart" class="pop-up-contact" > <i class="fa-brands fa-facebook-messenger"></i></a>
           <!-- <svg class="pop-up-contact" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>-->
          <!--  <svg class="pop-up-cart" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
            </svg>-->
    </div>
    </div>
    <div class="pop-up" id="popup5">
        <div class="pop-up-product-name"> Dark Chocolate Cinnemon</div> 
        <svg class="close-pop-up"  onclick="closePopup5()"xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>

        <img src="{{ url_for('static', filename='img/products/product_page_1.jpg') }}" alt="">
        <div class="pop-up-details-sub">
            
            <h3 class="pop-up-product-sub-name"> Dark Chocolate Cinnemon</h3>
            <h3 class="pop-upproduct-price">50.000 VND</h3>
        </div>
        <p>🌿 Những ngày dài ẩm ướt buồn phiền đang đi qua, có chậm nhưng chắc chắn đang qua,
            Và rồi thế giới sẽ trở lại xinh đẹp, dễ chịu và thân quen như cũ.
            🌸 Lá Mây set hũ Sâm gừng mật ong này, dành cho bạn, để hồng nhuận làn da, chống lão hóa, bồi bổ sức khỏe,
            Để chăm sóc, nuông chiều và yêu thương bản thân,
            Trong cuộc sống đang cuốn trôi về phía trước, chưa rõ hình hài, với rất nhiều dự tính âu lo.</p>
        <div class="pop-up-contact-cart">
            <a href="https://www.facebook.com/thoitrangmyecosmart" class="pop-up-contact" > <i class="fa-brands fa-facebook-messenger"></i></a>
           <!-- <svg class="pop-up-contact" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>-->
          <!--  <svg class="pop-up-cart" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
            </svg>-->
        </div>
        </div>
</div>


<script>
let popup1=document.getElementById("popup1");
function openPopup1(){
popup1.classList.add("open-popup");}
function closePopup1(){
popup1.classList.remove("open-popup");}

//2
let popup2=document.getElementById("popup2");
function openPopup2(){
popup2.classList.add("open-popup");}
function closePopup2(){
popup2.classList.remove("open-popup");}
//3
let popup3=document.getElementById("popup3");
function openPopup3(){
popup3.classList.add("open-popup");}
function closePopup3(){
popup3.classList.remove("open-popup");}
//4
let popup4=document.getElementById("popup4");
function openPopup4(){
popup4.classList.add("open-popup");}
function closePopup4(){
popup4.classList.remove("open-popup");}
/*5 */
let popup5=document.getElementById("popup5");
function openPopup5(){
popup5.classList.add("open-popup");}
function closePopup5(){
popup5.classList.remove("open-popup");}
</script>

{% include 'chatbot.html' %}
{% include 'footer1.html' %}

</body>
</html>