<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrolling Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrolling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/scrolling.js') }}"></script>
</head>

<body>
    <div class="button-show">
        <a class="button" href="#aboutus-scroll">Read more</a>
    </div>
</body>

</html>