<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sponsor.css') }}"
    />
</head>
<body>
    <div class="sponsors-showcase sponsor_loading" id="sponsor-loading">
      <h2 class="h2ofsponsor">Một số đối tác nổi bật </h2>
        <div class="sponsors">
          <a href="https://www.vietstraw.com/" target="_blank"><img src="{{ url_for('static', filename='img/sponsor/sponsor1-logo.png') }}" alt="Sponsor 1 Logo"></a>
          <a href="https://www.facebook.com/myfashionvietnam" target="_blank"><img src="{{ url_for('static', filename='img/sponsor/sponsor2-logo.png') }}" alt="Sponsor 2 Logo"></a>
        </div>
      </div>

</body>
</html> 
