<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/unique_banner_new.css') }}">
  <script src="{{ url_for('static', filename='js/unique_banner_new.js') }}"></script>
</head>

<body>
  <div id="elementor_tab">
    <div class="elementor_tab_title">Sự khác biệt của Eco Smart Solutions</div>
    <div id="elementor_container">
      <input type="radio" name="elementor_indicator" id="cost">
      <input type="radio" name="elementor_indicator" id="team">
      <input type="radio" name="elementor_indicator" id="mission">

      <div class="elementor_content">
        <div class="elementor_list">
          <label for="cost" class="cost_button">
            <div class=" menu_click_topic">Chi phí tối ưu</div>
          </label>

          <label for="team" class="team_button">
            <div class="menu_click_topic">Đội nhóm chuyên nghiệp</div>
          </label>

          <label for="mission" class="mission_button">
            <div class="menu_click_topic">Sứ mệnh cao cả</div>
          </label>
        </div>

        <div class="text-content">
          <div class="cost text">
            <div class="text-title">Chi phí tối ưu</div>
            <p>“Với mục tiêu xây dựng và thúc đẩy cộng đồng doanh nghiệp bền vững vì
              xã hội, Eco Smart Solutions cam kết tái đầu tư toàn bộ 100% doanh thu trong ít nhất một năm đầu để
              đảm bảo chất lượng tốt nhất cho khách hàng.</p>
          </div>

          <div class="team text">
            <div class="text-title">Đội ngũ chuyên nghiệp</div>
            <p>“Đội ngũ thành viên của Eco Smart Solutions luôn đặt tôn chỉ Hiệu quả -
              Tôn trọng - Chuyên nghiệp. Luôn lắng nghe khách hàng.
              Đảm bảo rằng khách hàng luôn nhận được sự hỗ trợ và phản hồi kịp thời khi có câu hỏi hoặc yêu cầu hỗ
              trợ.</p>
          </div>

          <div class="mission text">
            <div class="text-title">Sứ mệnh cao cả</div>
            <p>“Chúng tôi nỗ lực biến khát vọng xây dựng cuộc sống xanh và bền vững
              thành hiện thực. Chúng tôi cam kết rằng GreenBoost sẽ là một sản phẩm hội tụ đủ các yếu tố Tâm - Tầm
              - Tín, đem lại giá trị cho khách hàng, môi trường và cộng đồng!”</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</body>

</html>