<!doctype html>
<html>

<head>
  <title>Video</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
</head>

<body>
  <figure class = "youtube-vid-loading" id = "youtube-video" >
    <figcaption>Tại sao nên thúc đẩy các sản phẩm phát triển bền vững</figcaption>
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/-HS-slU-XTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </figure>

</body>

</html>