<!-- “Activity page used for providing users activities information
//Made by Anh Khôi” -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/activities_page.css') }}"
    />

    <title>Activities</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/aboutus/logo2.png') }}"
      type="image/x-icon"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body style="font-family: 'Inter', sans-serif">
    {% include 'navbar.html' %}
    <div class="bodystyle">
      <div class="head1">
        <h1>Activities</h1>
      </div>
    <div id="activities_news">
      

    </div>

    <div class="pagination">
      <ul>
        <li><a href="/activities/" data-page ="1" class="page-link">1</a></li>
        <li><a href="/activities/page2/" data-page ="2" class="page-link">2</a></li>
        <li><a href="/activities/page3/" data-page ="3" class="page-link">3</a></li>
        <li><a href="/activities/page4/" data-page ="4" class="page-link">4</a></li>
      </ul>
    </div>
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>
