<!-- “Activity page used for providing users activities information
//Made by Anh Khôi” -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/activities_page.css') }}"
    />

    <title>Activities</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/aboutus/logo.png') }}"
      type="image/x-icon"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="font-family: 'Heebo', sans-serif">
    {% include 'navbar.html' %}
    <div class="bodystyle">
      <div class="head1">
        <h1>Activities</h1>
      </div>


    <div class="elementor-pagination">
      
        <div class="page-number-item">
          <a class="page-number" href="/activities/"><1</a>
        </div>

        <div class="page-number-item">
          <a class="page-number" href="/activities/page2/">2</a>
        </div>

        <div class="page-number-item">
          <a class="page-number" aria-current="page" href="/activities/page3/">3</a
          >
        </div>

        <div class="page-number-item">
          <a class="page-number" aria-current="page" href="/activities/page4/"
            >4></a
          >
        </div>
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>
