[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
frozen-flask = "*"
flask-flatpages = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "*"
