.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 500px;
    height: 500px;
    margin: 100px auto;
}

.container .carousel-inner .item  img{
    width: 1100px;
    height: 600px;
}