/* BO FONT CHUNG */
.body-aboutus {
  font-family: "Inter", sans-serif;
}

.bodystyle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color: #ffffff;
}

.bodystyle p {
  text-align: justify;
}

/*-----------------------------------------------------*/

/* BO FONT HEADING */

.head1 {
  display:flex;
  background-image: url('../img/activities_page/titlebackground.jpg');
  background-size: cover;
  padding-top: 20px;
  height: 15vh;
  width: 100%;
  align-items:center;
  justify-content:center;
}
.head1 h1 {
  font-size: 6vh;
  font-weight: bolder;
  color: #FCF5E5;
  animation: title-pageLoading 2s;
}
.head1 h1:hover {
  transform: scale(1.2)
}
#aboutus-content {
  background-size: cover;
  margin-top: 20px;
  height: 200px;
  width: 100%;
}

#aboutus-content h1 {
  font-size: 80px;
  font-weight: bolder;
  color: rgb(65, 128, 49);
  text-align: center;
  padding-top: 80px;
}
.head2awareness {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 4vh;
  font-weight: bolder;
  text-align: center;
  color: #283746;
}

.head2executive {
  margin-top: 2rem;
  font-size: 4vh;
  font-weight: bolder;
  text-align: center;
  color: #365949;
  margin-bottom: 2rem;
}

.head2ourteam {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 4vh;
  font-weight: bolder;
  text-align: center;
  color: #283746;
}

/*-----------------------------------------------------*/

.head2-2 {
  margin-bottom: 50px;
}

.mainstyle {
  width: 50%;
  margin: 0 auto;
  animation: pageLoading 2s;
}

.mainstyle-1 {
  margin: 50px auto 50px auto;
}

.mainstyle-2 {
  padding-top: 0.7rem;
}

.mainstyle-3 {
  padding-top: 0.7rem;
}

@media (max-width: 1000px) {
  .mainstyle {
    width: 80%;
    margin: 0 auto;
  }
}

.caption {
  width: 100%;
}

.founder_pic {
  margin: 30px auto;
  color: #283746;
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
}

.question {
  font-weight: bold;
  margin-top: 50px;
  font-size: 2.3vh;
  color: #283746;
}
.statementfromTri {
  font-size: 2vh;
  color: #283746;
}
.answer {
  font-size: 1.8vh;
  color: #283746;
}

@media (max-width: 625px) {
  .head1 h1 {
    font-size: 4vh;
  }
  .head2awareness {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
  }
  .head2executive {
    margin-top: 2rem;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
  }
  .head2ourteam {
    margin-top: 2rem;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
  }
}
.interview {
  margin-bottom: 1.5rem;
}

@keyframes pageLoading {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.d-block {
  animation: pageLoading 2s;
}
@keyframes title-pageLoading {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}