/* BO FONT CHUNG */
body {
    font-family: "Heebo", sans-serif;
}

.bodystyle {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    background-color: #285430;
    color: #E5D9B6;
}

.bodystyle p {
    text-align: justify;
}


/*-----------------------------------------------------*/


/* BO FONT HEADING */

.head1 {
    display:flex;
    background-image: url('../img/activities_page/titlebackground.jpg');
    background-size: cover;
    padding-top: 20px;
    height: 15vh;
    width: 100%;
    align-items:center;
    justify-content:center;
  }

.head1 h1 {
    font-size: 6vh;
    font-weight: bolder;
    color: #FCF5E5;
}
.head1 h1:hover {
    transform: scale(1.2)
}

.head2awareness {
    margin-top: 2rem;
    margin-bottom:2rem;
    font-size: 4.2vh;
    font-weight: bolder;
    text-align: center;
    color: #FCF5E5;
}
.head2executive{
    margin-top: 2rem;
    font-size: 4.2vh;
    font-weight: bolder;
    text-align: center;
    color: #FCF5E5;
}
.head2ourteam {
    margin-top: 2rem;
    font-size: 4.2vh;
    font-weight: bolder;
    text-align: center;
    color: #FCF5E5;
}

/*-----------------------------------------------------*/

.head2-2 {
    margin-bottom: 50px;
}

.mainstyle {
    width: 50%;
    margin: 0 auto;
}

.mainstyle-1 {
    margin: 50px auto 50px auto;
}

.mainstyle-2 {
    margin-top: 50px;
    color: #E5D9B6;
}

.caption {
    width: 100%;
}

.founder_pic {
    margin: 30px auto;
    color: #FCF5E5;
    text-align: center;
    font-weight: bold;
    font-size:3vh;
}

.question {
    font-weight: bold;
    margin-top:50px;
    font-size:2.3vh;
    color:#FCF5E5;
}
.statementfromTri {
    font-size:2vh;
    color:#F3E5AB;
}
.answer {
    font-size:1.8vh;
    color:#F3E5AB;
}

.interview {
    margin-bottom: 110px;
}

@media(max-width: 1000px) {
    .mainstyle {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:625px){
    .head1 h1{
        font-size:4vh;
    }
    .head2awareness {
        margin-top: 2rem;
        margin-bottom:2rem;
        font-size: 3vh;
        font-weight: bolder;
        text-align: center;
        color: #FCF5E5;
    }
    .head2executive{
        margin-top: 2rem;
        font-size: 3vh;
        font-weight: bolder;
        text-align: center;
        color: #FCF5E5;
    }
    .head2ourteam {
        margin-top: 2rem;
        font-size: 3vh;
        font-weight: bolder;
        text-align: center;
        color: #FCF5E5;
    }
}
