body {
  background-color: #285430;
}
.esvabout {
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 350px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 0;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: relative;
}

#myVideo {
  z-index: 2;
  object-fit: fill;
  opacity: 0.5;
  position: sticky;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.all_text {
  z-index: 3;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: white;
}

.seperate {
  width: 100px;
  height: 1.5px;
  border-radius: 7px;
  display: flex;
  background-color: white;
  transform-origin: center;
}

#detailtext {
  /*font-size: 28px;
    color: white;
    font-weight: 100;*/
  display: grid;
}

.text1 {
  font-size: 24px;
  margin-top: 10px;
  display: inline-block;
  text-align: justify;
  width: 560px;
  height: fit-content;
  padding: 5px;
  position: relative;
  align-self: center;
  color: white;
  font-weight: 100;
}

.text2 {
  text-decoration-line: none;
  font-size: 18px;
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: 2px white solid;
}

.text2:hover {
  text-decoration-line: underline;
  color: white;
  font-weight: bolder;
}

#title:hover {
  transform: scale(1.04);
  color: rgb(245, 245, 245);
}
@media (max-width: 650px) {
  .esvabout {
    background-color: rgb(105, 105, 105);
    width: 100%;
    height: 350px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    position: relative;
  }
  .text1 {
    width: 360px;
    height: 60px;
    padding: 3px;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }
  .all_text {
    top: 40%;
  }
  #title {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: white;
  }
  .text2 {
    top: 130%;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
  }
}
