/* BO FONT CHUNG */

#bodystyle {
    font-family: Arial;
    font-size: 20px;
    background-color: rgb(233, 255, 204);
    color: grey;
}


/*-----------------------------------------------------*/


/* BO FONT HEADING */

.head1 {
    background-image: url('../img/aboutus/titlebackground.png');
    background-size: cover;
    padding-top: 20px;
    height: 200px;
    width: 100%;
}

.head1 h1 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 60px;
}

#aboutus-content {
    background-size: cover;
    margin-top: 20px;
    height: 200px;
    width: 100%;
}

#aboutus-content h1 {
    font-size: 80px;
    font-weight: bolder;
    color: rgb(65, 128, 49);
    text-align: center;
    padding-top: 80px;
}

.head2 {
    margin-top: 20px;
    font-size: 56px;
    font-weight: bolder;
    text-align: center;
    color: rgb(65, 128, 49);
}


/*-----------------------------------------------------*/

#mainstyle {
    width: 75%;
    margin: 0 auto;
}

.caption {
    width: 100%
}

.question {
    font-weight: bold;
}