
.head1 {
  background-image: url('../img/aboutus/titlebackground.png');
  background-size: cover;
  padding-top: 20px;
  height: 200px;
  width: 100%;
}
.head1 h1 {
  font-size: 80px;
  font-weight: bolder;
  color: rgb(233, 255, 204);
  text-align: center;
  padding-top: 40px;
}
.head1 h1:hover {
  transform: scale(1.2)
}
#activities_news{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:  rgb(233, 255, 204);
}  

@media screen and (max-width: 1000px) {
  #activities_news .content_block{
    width: 90%;
  }
  .content_block .text1{
    font-size: 2.4vw;
  }
  .content_block .text2 {
    font-size: 1.9vw;
  }
  .content_block .text3{
    font-size: 1.7vw;
  }
}
.block_header{
  margin: 5%;
}
.text1{
  font-size: 1.7vw;
  color:black;
  font-weight: 600;
  margin: 0%;
}

.content2{
  width: 60%;
  height: auto;
  background-color:whitesmoke;
  display: flex;
  flex-direction: column;
  position: relative;
}
.image2{
  width:50%;
  height:auto;
  display:flex;
  flex-direction: row;
}
img{
  /* border-radius: 5%; */
  width: 100%;
}
.content_block{
  /* border: solid rgb(233, 255, 204); */
  border-radius: 5%;
  width:60%;
  height: auto;
  background-color: rgb(131, 189, 117);
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top:15px;
  box-shadow: 0 0 1em #1f003b;
  font-size: 50%;
  /* position: relative; */

}
.text2{
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2vw;
}
.text3{
  position: absolute;
  bottom: 5%;
  text-decoration-line: none;
  margin-left: 70%;
  border:1px black solid;
  border-radius: 20px;
  font-size: 1vw;
  color:black;
  padding: 2% 5% 2% 5%;
  transition: 0.3s;
  background-color: white;
}
.text3:hover{
  border-color: white;
  background-color: green;
  color:white;
  transition: 0.3s ;
}
/* .loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
} */