figure#title-activities-style {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(131, 189, 117);
}

.background-activities {
    background-color: rgb(131, 189, 117);
    width: 100%;
}

#activities_folder {
    padding: 0;
    margin: 0 10vw 0 10vw;
    box-sizing: border-box;
    width: 80%;
}

@media(max-width: 1000px) {
    #activities_folder {
        width: 100%;
        margin: 0;
    }
}

.activities_line {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
}

.activities_photo {
    padding: 0 1em;
    margin: 0 auto;
    width: 30%;
    min-width: 150px;
    text-align: center;
    color: rgb(85, 85, 85);
}

.activities_photo img {
    width: 100%;
}

.activities_photo img:hover {
    transform: scale(1.35);
}

figure.photo_cap {
    background-color: rgb(131, 189, 117);
}

.photo_cap figcaption {
    color: whitesmoke;
    font-size: 2.5vh;
    font-weight: 500;
    text-align: center;
}

.photo_cap figcaption:hover {
    transform: scale(1.2);
    color: white;
}