.myContainer {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  width: 40vw;
  height:auto;
  margin: 2px auto;
}

.carousel-item img {
  width: 40vw;
}

#indicators {
  margin-bottom: 0.5vh;
}

.animation-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight:bold;
  background-color:	#ECFFDC;
  color:#494F55;
  width:40vw;
  padding-top: 0.5vw;
  opacity: 85%;
  margin-bottom:2rem;
}

.animation-content p {
  margin-top: 0;
  margin-bottom: 0.25vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

@media only screen and (max-width: 1000px) {
  .myContainer {
    width: 70vw;
  }
  .carousel-item img {
    width: 70vw;
  }

  .animation-content {
    width: 70vw;
  }
  .animation-content p {
    font-size: 1.5vw;
    text-transform: uppercase;
  }
}
