.myContainer {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  width: 45vw;
  height:auto;
  margin: 2px auto;
}

.carousel-item img {
  width: 45vw;
}

#indicators {
  margin-bottom: 0.5vh;
}

.animation-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight:bold;
  background-color:	#ECFFDC;
  color:#494F55;
  width:45vw;
  padding-top: 0.5vw;
  opacity: 85%;
  margin-bottom:2rem;
}

.animation-content p {
  margin-top: 0;
  margin-bottom: 0.25vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
@media only screen and (min-device-width: 501px) and (max-device-width: 1000px) {
  .myContainer {
    width: 80vw;
  }
  .carousel-item img {
    width: 80vw;
  }

  .animation-content {
    width: 80vw;
  }
  .animation-content p {
    font-size: 1.8vw;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 500px) {
  .myContainer {
    width: 100vw;
  }
  .carousel-item img {
    width: 100vw;
  }

  .animation-content {
    width: 100vw;
  }
  .animation-content p {
    font-size: 2.5vw;
    text-transform: uppercase;
  }
}
