.contact-us-body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #e5d9b6;
  display: flex;
  height: 100vh;
  background-image: url("../img/contactus/background-forest.jpg");
}

.content-left {
  color: white;
  animation: pageLoading 2s;
}

.content-right {
  animation: pageLoading 2s;
}

.flex-item {
  width: 100%;
}

.scripts1 {
  font-size:2vh;
  margin-top: 8rem;
  margin-left: 20rem;
}

.scripts2 {
  margin-left: 20rem;
  font-size: 5vh;
  font-weight:bold;
  margin-bottom:4rem;
}

/* Địa chỉ */
.diachicontact{
  margin-bottom:4rem;
}

.diachicontact img{ 
  margin-bottom:-7rem;
  margin-left: 18rem;
  width:10%;
  height:auto;
}

.diachicontact h2 {
  font-size: 2.5vh;
  margin-left: 25rem;
}

/* Địa chỉ gmail*/
.diachimail h2 {
  font-size: 2.5vh;
  margin-left: 25rem;
}

.diachimail {
  margin-bottom: 4rem;
}

.diachimail img{ 
  margin-bottom:-7rem;
  margin-left: 18rem;
  width:10%;
  height:auto;
}

/* Số điện thoại*/
.sodienthoai h2 { 
  font-size: 2.5vh;
  margin-left: 25rem;
}
.sodienthoai img{ 
  margin-bottom:-7rem;
  margin-left: 18rem;
  width:10%;
  height:auto;
}



.contact-box {
  width: 29rem;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.);
  border:1px solid white;
  border-radius: 1.6%;
  margin-top: 10rem;
  margin-left: 8rem;
}

.word {
  font-size: 1.65rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.heading1 {
  background-image: url("../img/aboutus/titlebackground.png");
  background-size: cover;
  padding-top: 1.5rem;
  height: 14rem;
  width: 100%;
}

.contact-item {
  width: 25rem;
  border-width: 0.11rem;
  margin-top: 0.3rem;
  padding-left: 1rem;
  height: 3rem;
  border-radius: 4px;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  color: black;
  background: white;
}

::placeholder {
  color: white;
}

#messagebox {
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding-top: 2rem;
  height: 8rem;
}

#send-btn {
  border-color: rgb(64, 109, 89) solid;
  margin-top: 1rem;
  margin-left: 30%;
  width: 40%;
  background-color: rgb(64, 109, 89);
  padding-left: 0;
  padding-right: 0;
  color: white;
  border-radius:0.5rem;
}

#send-btn:hover {
  font-weight: bold;
  background-color: white;
  color: #5f8d4e;
  text-decoration: none;
}
::placeholder {
  color: #404040;
}
@media (max-width: 1450px) {
  .scripts1{
    margin-left:10rem;
  }
  .scripts2{
    margin-left:10rem;
  }

  .diachicontact h2{
    margin-left:11rem;
  }
  .diachimail h2{
    margin-left:11rem;

  }
  .sodienthoai h2{
    margin-left:11rem;
  }

  .diachicontact img{
    margin-left:5rem;
  }
  .diachimail img {
    margin-left:5rem;

  }
  .sodienthoai img{
    margin-left:5rem;
  }
}
@media (max-width: 1200px) {
  .contact-us-body {
    flex-direction: column;
  }
  .scripts1 {
    font-size:1.5vw;
    margin-top: 1rem;
    margin-left: 29vw;
  }
  
  .scripts2 {
    margin-left: 29vw;
    font-size: 4vw;
    font-weight:bold;
    margin-bottom: 1rem;
  }
  
  /* Địa chỉ */
  .diachicontact{
    margin-bottom:1rem;
  }
  
  .diachicontact img{ 
    margin-bottom:-7rem;
    margin-left: 21vw;
    width:6%;
    height:auto;
  }
  
  .diachicontact h2 {
    font-size: 2vw;
    margin-left: 29vw;
  }
  
  /* Địa chỉ gmail*/
  .diachimail h2 {
    font-size: 2vw;
    margin-left: 29vw;
  }
  
  .diachimail {
    margin-bottom: 1rem;
  }
  
  .diachimail img{ 
    margin-bottom:-7rem;
    margin-left: 21vw;
    width:6%;
    height:auto;
  }
  
  /* Số điện thoại*/
  .sodienthoai h2 { 
    font-size: 2vw;
    margin-left: 29vw;
  }
  .sodienthoai img{ 
    margin-bottom:-7rem;
    margin-left: 21vw;
    width:6%;
    height:auto;
  }
  .sodienthoai{
    margin-bottom:2rem;
  }


  .contact-box {
    width: 30rem;
    margin: 0 auto;
  }

  .contact-item {
    width: 26rem;
    margin: 0.5rem 2rem;
  }
}

@media (max-width: 750px) {
  .scripts1 {
    margin-left:25vw;
    font-size:3vw;
  }
  
  .scripts2 {
    font-size: 5vw;
    margin-left:25vw;
  }
  
  /* Địa chỉ */
  .diachicontact img{ 
    width:6%;
    height:auto;
    margin-left:15vw;
    margin-top:-1rem;
  }
  
  .diachicontact h2 {
    font-size: 3vw;
    margin-left:23vw;
  }
  
  /* Địa chỉ gmail*/
  .diachimail h2 {
    font-size: 3vw;
    margin-left:23vw;
  }
  
  .diachimail img{ 
    width:6%;
    height:auto;
    margin-left:15vw;
    margin-top:-1rem;
  }
  
  /* Số điện thoại*/
  .sodienthoai h2 { 
    font-size: 3vw;
    margin-left:23vw;
  }
  .sodienthoai img{ 
    width:6%;
    height:auto;
    margin-left:15vw;
    margin-top:-1rem;
  }

  .contact-box {
    width: 30rem;
    margin: 0 auto;
  }

  .contact-item {
    width: 26rem;
    margin: 0.5rem 2rem;
  }
}

@media (max-width: 600px) {
  .contact-us-body {
    flex-direction: column;
    height: auto;
  }
  .content-right {
    padding-bottom: 1rem;
  }
  .contact-box {
    width: 80vw;
    margin: 0 auto;
  }

  .contact-item {
    width: 65vw;
    margin: 0.5rem 1.5rem;
  }

  #send-btn {
    width: 30%;
    margin-left: 35%;
  }

  .scripts1 {
    margin-left:25vw;
    font-size:4vw;
  }
  
  .scripts2 {
    font-size: 6vw;
    margin-left:25vw;
  }
  
  /* Địa chỉ */
  .diachicontact img{ 
    width:10%;
    height:auto;
    margin-left:11vw;
    margin-top:-2rem;
  }
  
  .diachicontact h2 {
    font-size: 4vw;
    margin-left:23vw;
  }
  
  /* Địa chỉ gmail*/
  .diachimail h2 {
    font-size: 4vw;
    margin-left:23vw;
  }
  
  .diachimail img{ 
    width:10%;
    height:auto;
    margin-left:11vw;
    margin-top:-2rem;
  }
  
  /* Số điện thoại*/
  .sodienthoai h2 { 
    font-size: 4vw;
    margin-left:23vw;
  }
  .sodienthoai img{ 
    width:10%;
    height:auto;
    margin-left:11vw;
    margin-top:-2rem;
  }
}

@keyframes pageLoading {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
