footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  color: #e5d9b6;
  background-color: #3a7845;
  padding-top: 1rem;
}

/* *****************footer content************** */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h4 {
  font-size: 1.5rem;
}

.footer-content p {
  width: 30rem;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #e5d9b6;
}

/* .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #e5d9b6;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
} */

/* ***********************footer bottom******** */

.footer-bottom {
  display: flex;
}

.footer-flex-item {
  width: 100%;
}

#copyright-text {
  margin-left: 5rem;
}

.footer-menu {
  float: right;
  display: flex;
  margin-right: 4.5rem;
}
.footer-menu p {
  padding-right: 0.5rem;
  color: #e5d9b6;
}
.footer-link {
  color: #e5d9b6;
}

.footer-link:hover {
  color: #c9b169;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
