.background_footer {
  position: bottom;
  left: 0px;
  bottom: 0px;
  right: 0px;
  align-items: center;
  background-color: #285430;
  height: 6.5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Heebo";
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  align-self: center;
  align-content: center;
}

.footer-style {
  color: #e5d9b6;
  margin-top: 1vh;
}

.footerimages {
  width: 4.8vh;
}
@media screen and (width < 400px) {
  .background_footer {
    display: block;
    height: 10rem;
  }
}
.footer-href {
  text-decoration: none;
  color: #e5d9b6;
  font-family: "Heebo";
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
}
.footer-href:hover {
  color: #e5d9b6;
  font-size: 1.2rem;
}

.fa-brands {
  color: #e5d9b6;
  width: 2rem;
}
