/* Made by GPham  */

body {
    width: 100%;
}

.navbar {
    background-color: #e5d9b6;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 600;
}

#navbar-id {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0 0 0 10px;
}

#container-all {
    padding-right: 0;
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        width: 75%;
    }
}

.container-fluid {
    height: 35%;
}

.title-logo {
    width: 30%;
    margin-left: 35%;
}

.title-name {
    display: inline-block;
    font-size: 3vh;
    font-weight: 300;
}

.navbar-nav {
    text-align: right;
    margin-right: 5.9rem;
}

.navbar-toggler {
    padding-left: 0.75rem;
}


/* Style the search box inside the navigation bar */

.search-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #e5d9b6;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #285430;
    padding: 5px;
}

.input-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    color: #285430;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-container:hover,
.search-container:valid {
    width: 200px;
    cursor: pointer;
}

.search-container:hover .input-box,
.search-container:valid .input-box {
    display: block;
}

.search-container:hover .fa,
.search-container:valid .fa {
    background: #285430;
    color: #e5d9b6;
}

#transparent-search-btn {
    background-color: transparent;
    border: 0px;
}

.input-box {
    background-color: #e5d9b6;
    color: #285430;
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.nav-item {
    margin: 0px 10px;
    float: left;
}

#last-nav-item {
    margin-left: 10px;
}

.nav-item .nav-link {
    font-size: 115%;
    color: #285430;
}

@media (max-width: 991px) {
    .navbar-toggler {
        margin-right: 1.6rem;
    }
}

@media (max-width: 768px) {
    .title-logo {
        width: 4rem;
        margin-left: 5rem;
    }
    .navbar-brand {
        width: 11rem;
    }
}

@media (max-width: 600px) {
    .title-logo {
        margin-left: 1rem;
    }
    .navbar-brand {
        width: 7rem;
    }
}

@media (max-width: 991px) {
    #last-nav-item {
        display: none;
    }
    #nav-list {
        margin-right: 20px;
    }
}