*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head1 {
    background-image: url('../img/aboutus/titlebackground2.png');
    background-color: rgb(233, 255, 204);
    background-size: cover;
    padding-top: 20px;
    height: 350px;
    width: 100%;
  }
  .head1 h1 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 40px;
  }
.menu{
    background-color: rgb(233, 255, 204);
    padding: 10vw;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,300px));
 grid-gap: 20px 30px;   
 justify-content: space-around;
}
.product-items{
    background-color: lightgrey;
    display: grid;
    position: relative;
    grid-template-rows: 0.5 fr;
    border-radius: 5%;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.5) ;
    grid-gap: 20px 80px;
}
.product-items img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.details{
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 10px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto ;
}
.product-name  {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    font-weight: 400;   

}
.product-price{
    font-family: 'Heebo', sans-serif;
    color: rgb(23, 69, 23);
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
    border-left: 2px solid #333;
}
.goshop{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    text-decoration-line: none;
    border:1px black solid;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    color:black;
    padding: 2% 5% 2% 5%;
    transition: 0.3s;
    background-color: white;
  }
  .goshop:hover{
    border-color: white;
    background-color: green;
    color:white;
    transition: 0.3s ;
  }
  /* .product-items :hover{
    border-color: red;
  } */