.product-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pop-up {
  position: fixed;
  z-index: 9999;
  background-color: white;
  border: 1px solid #333;
  width: 500px;
  height: 100vh;
  background-color: white;
  left: 0;
  top: 0%;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-columns: auto;
  transition: 0.3s 0.3s;
  scale: 0;
    visibility: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  /* align-items: center; */
}
.close-pop-up {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.close-pop-up :hover {
  color: grey;
}
.pop-up-product-name {
  font-size: 30px;
  margin-left: 10%;
  align-items: center;
  justify-content: space-around;
}
.pop-up img {
  width: 300px;
  margin-left: 15%;
}
.pop-up-details-sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pop-up-contact-cart {
  display: grid;
  grid-template-columns: 1fr ;
}
.pop-up-contact {
  width: 100%;
  cursor: pointer;
  color: green;
  font-size: 2.5em;
  text-align: center;
}
/* .pop-up-contact:hover {
  color: grey;
} */
.pop-up-contact i{
  text-align: center;
  /* background-color: green; */
  color: green;
  text-align: center;
  padding: 8px;
  border-radius: 1rem;
  padding-left: 10px;
  padding-right: 50px;
  /* border: 1px solid green; */
}
.pop-up-contact i:hover{
  color: black;
  /* border: 1px solid black; */
}
/* .pop-up-cart {
  width: 100%;
  color: black;
  background-color: white;
  cursor: pointer;
} */
.pop-up-cart:hover {
  color: grey;
}
.open-popup {
  visibility: visible;
  left: 0%;
  scale: 1;
}

@media screen and (max-width: 500px) {
  .pop-up {
    width: 100%;
  }
  .pop-up img {
    margin-left: 10%;
  }
  .pop-up-product-name {
    margin-left: 30%;
  }
}

/* product page */
/* #head1 {
  background-image: url('../img/aboutus/titlebackground2.png');
  background-color: rgb(233, 255, 204);
  background-size: cover;
  padding-top: 20px;
  height: 30%;
  width: 100%;
  position: absolute;
}
#head1-h1 {
  font-size: 80px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: 40px;
} */

.head1 {
  display: flex;
  background-image: url("../img/activities_page/titlebackground.jpg");
  background-size: cover;
  padding-top: 20px;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.head1 h1 {
  font-size: 6vh;
  font-weight: bolder;
  color: #fcf5e5;
  animation: title-pageLoading 2s;
}
.head1 h1:hover {
  transform: scale(1.2);
}
/* menu */
.menu {
  background-color: whitesmoke;
  padding: 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  grid-gap: 20px 30px;
  justify-content: space-around;
}
.product-items {
  background-color: white;
  display: grid;
  /* position: relative; */
  grid-template-rows: 0.5 fr;
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  grid-gap: 20px 80px;
  animation: pageLoading 2s;
}
.img-container {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.product-items img {
  width: 100%;
  transition: transform .5s ease;
}
.product-items img:hover{
  transform: scale(1.1);
  /* filter: blur(0.8px); */
}
.details {
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 10px;
}
.details-sub {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.details p {
  padding: 10px;
}
.product-name {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.product-price {
  font-family: 'Inter', sans-serif;
  color: rgb(23, 69, 23);
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  border-left: 2px solid #333;
}
.goshop {
  text-align: center;
  font-family: 'Inter', sans-serif;
  text-decoration-line: none;
  /* border:1px black solid; */
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 18px;
  color: white;
  padding: 2% 5% 2% 5%;
  transition: 0.2s;
  background-color: rgb(64, 109, 89);
  cursor: pointer;
}
.goshop:hover {
  border-color: white;
  background-color: rgb(64, 109, 70);
  color: white;
  transition: 0.2s;
}
@keyframes pageLoading {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes title-pageLoading {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
