@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.h1ofproduct{
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}
.h1ofproduct:hover {
  transform: scale(1.2);
  color: white;
}

.card-img-topofproduct {
  object-fit: fill;
  width: 1/3;
  border-radius: 6%;
}
.cardofproduct border shadow {
  height: 20vh;
  width: 80vw;
}
.cardofproduct {
  background-color: #365949;
  border: none;
  z-index: 1;
}

.cardofproduct :hover {
  opacity:90%;
}
.seemoreofproduct {
  text-decoration-line: none;
  font-size: 18px;
  font-weight:bold;
  display: flex;
  justify-content: center; /* Horizontally center the element */
  align-items: center;
  color: white;
  border-radius:1rem;
  border: 2px white solid;
  margin: 0 auto; /* Center the element horizontally */
  width: 9rem; /* Set the width of the element */
  margin-bottom:1rem;
  height:3rem;
  margin-top:0;
  background-color: white;
  border-color:white;
  color:#283746;
}


.seemoreofproduct:hover {
  color: #365949;
  font-weight: bolder;
  background-color: white;
  border-color:black;
}

#container-product{
  background-color:#365949;
  padding-top:0.009rem;
  border-radius:1rem;
  width:80vw;
  padding-bottom:1px;
  padding-left:2rem;
  padding-right:2rem;
}

@media(max-width:730px){
  .h1ofproduct{
    font-size:1.5rem;
  }
}

@media(max-width:600px){
  .h1ofproduct{
    font-size:1.3rem;
  }
}
