.myBtn {
  background-color: #365949;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 4rem;
  opacity: 0.5;
  border: grey;
  position:fixed;
  bottom:20px;
  right:10px;
}

.scrollup__icon{
  color: #FFF;
}


.myBtn:hover {
  background-color: #365949;
  opacity: 1;
}

.hidden {
  display: none;
}