.sidebar-body {
    font-family: "Heebo", sans-serif;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
#arrow-button {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 0px;
    border-radius: 50%;
    position: -webkit-sticky;
    position: sticky;
    top: 500px; 
}

.btn-close {
    color: black;
}

.offcanvas-title {
    font-weight: 600;
}