figure {
  display: block;
  padding: 20px 15%;
  background-color: white;
}

figcaption {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #283746;
}

@media (max-width: 600px) {
  figure {
    padding: 5%;
  }
}

figcaption:hover {
  transform: scale(1.2);
  color: #283746;
}

#body-video {
  background-color: #285430;
}
