figure {
  display: block;
  background-color: white;
  align-items: center;
}

figcaption {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #283746;
}

figcaption:hover {
  transform: scale(1.2);
  color: #283746;
}
x
.youtube-vid-loading{
  align-items: center;
}


#body-video {
  background-color: #285430;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  figure {
    padding: 5%;
  }
}

@media (max-width: 730px) {
  figcaption {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  figcaption {
    font-size: 1.3rem;
  }
}
