figure {
  display: block;
  background-color: white;
  align-items: center;
}

figcaption {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #283746;
}

figcaption:hover {
  transform: scale(1.2);
  color: #283746;
}
x
.youtube-vid-loading{
  align-items: center;
}


figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body-video {
  margin: 0 auto;
}


@media (max-width: 600px) {
  figure {
    padding: 5%;
  }
}

@media (max-width: 730px) {
  figcaption {
    font-size: 1.5rem;
  }
  #body-video {
    width:90vw;
    height:40vh;
  }
}

@media (max-width: 600px) {
  figcaption {
    font-size: 1.3rem;
  }
}
