/* “Activity section used for providing users activities information
//Made by Anh Khôi” */
.line1{align-items: center;
    background-color: rgb(131, 189, 117);
    left: 0;
    right: 0;
    height: 23rem;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.folder_anh {
    float: left;
    padding: 5px;
    overflow: hidden;
    border-radius: 15%;
}
.anh{
    border-radius: 15%;
    max-width: 15rem;
    height: auto;
    /* position: relative;
    display: block; */
    transition: 0.5s all ease-in-out;
 
 }
.anh:hover{
   
    transform: scale(1.35);


 }
 h3 { 
    /* position: absolute; */
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
 }
 /* h3:hover{ color: whitesmoke;} */
 .line2{align-items: center;
    background-color: rgb(131, 189, 117);
    left: 0;
    right: 0;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}