/* “Activity section used for providing users activities information
//Made by Anh Khôi” */
table{
    background-color: rgb(131, 189, 117);
    width: 100%;
}
.line1{align-items: center;
    left: 0;
    right: 0;
    height: 16rem;
    display: flex;
    justify-content: space-around;
}

.folder_anh {
    float: left;
    padding: 5px;
    overflow: hidden;
    border-radius: 15%;
}
.anh{
    border-radius: 15%;
    max-width: 15rem;
    height: auto;
    transition: 0.5s all ease-in-out;
 }
.line_below_img_2 {
    margin-top: 16rem;
 }
.anh:hover{
    transform: scale(1.35);
 }
 .folder{
    position: relative;
}
 h3 { 
    position: absolute;
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 13rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
 }
 .line2{align-items: center;
    left: 0;
    right: 0;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}