/* Made by GPham  */

.navbar {
  background-color: rgb(38, 151, 10);
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  
}

.navbar-brand {

}

.container-fluid{
  height: 35%;
}

.nav-item{
  float: left;
}

.title-logo {
  width: 20%;
  margin-left: 15%;
}

.title-name {
  display: inline-block;
  font-size: 3vh;
  font-weight: 300;
}

.navbar-nav {
  text-align: right;
}

.navbar-toggler {
  padding-left: 25%;
}

#navbarToggler {
  padding-right: 10%;
}