 /* Made by GPham  */

 .navbar{
    background-color: rgb(131, 188, 117);
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Arial';
    font-style: normal;
}

.navbar-brand{
    width: 50%;
}

.title-logo{
    width: 20%;
    margin-left: 40%;
}

.title-name{
    display: inline-block;
    font-size: 90%;
}

.navbar-nav{
    text-align: right;
}

.navbar-toggler{
    margin-right: 5%;
}

#navbarToggler{
    margin-left: 15%;
    padding-right:10%;
}
