<!-- “Activity section used for providing users activities information
//Made by Anh Khôi” -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/activities.css">
    <title>Document</title>
</head>

<body>
    <!--file div tổng chứa activities-->
    <div class="background-activities">
        <!-- file div chứa cả 2 dòng -->
        <div class="bothline">
            <!-- file div chứa line 1 -->
            <div class="line1">
                <!-- file div chứa nội dung ảnh 1 -->
                <div class="folder anh1">
                    <a href=""> <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/319551456_106068569021264_645182387919032983_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ERlJcX93zyAAX8zt0cO&_nc_oc=AQkGKrWfdfAGeFfbIuKg4_apCs_eZFDg19vjXtJa1ViMYQerwU0eUgX4jA2_B7DQLss&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfBdB0fUkwqh29fvJd82Jdqo-zo-MqEDzOnAUCsiv7ICWg&oe=63AB8AFF"
                            alt="" class="anh anh1"> </a>

                    <h3 class="line_below_img"> Ảnh 1 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 2 -->
                <div class="folder anh2">
                    <a href=""> <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/320156744_823444355428498_5115744664301914829_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=lWSng-J0gNwAX-iHMhr&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfCMRBKG-SjtVQWRIDtIgp78Z-0zzybjbWLgkwMiq8XnZw&oe=63AB8F22"
                            alt="" class="anh anh2"></a>

                    <h3 class="line_below_img"> Ảnh 2 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 3 -->
                <div class="folder anh3">
                    <a href=""> <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/319623702_106056595689128_6912989715389501296_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_ohc=5I4QYhX7KNUAX_iLwPx&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfBVaHMAqzTt8ohKLONDiuwFoWBuLYK6t1SbaKeB_GgHyA&oe=63AB0997"
                            alt="" class="anh anh3"></a>

                    <h3 class="line_below_img"> Ảnh 3 </h3>
                </div>
            </div>
            <!-- file div chứa line 2 -->
            <div class="line2">
                <!-- file div chứa nội dung ảnh 4 -->
                <div class="folder anh4">

                    <a href=""> <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/320987201_1508621712981959_1447273837292749190_n.jpg?stp=cp6_dst-jpg_s960x960&_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=Lqf7y3LtUsIAX_07KdC&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAVCo8LPByoBW0YFIcv56oU3oUx6ng1FAVl-BEeZM4ytA&oe=63AB6F9B"
                            alt="" class="anh anh4"> </a>

                    <h3 class="line_below_img"> Ảnh 4 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 5 -->
                <div class="folder anh5">
                    <a href=""> <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/320710541_949341006471320_8931992307079760892_n.jpg?stp=cp6_dst-jpg_s960x960&_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=XBCAsbIIF1kAX8JqNJB&tn=uhZVun13D1zsA-md&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfDIX6edxMOk6ldq7RQCAMy2A3pZC7qV-_jKV4LEEbM4kg&oe=63ABF542"
                            alt="" class="anh anh5"></a>

                    <h3 class="line_below_img"> Ảnh 5 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 6 -->
                <div class="folder anh6">
                    <a href=""> <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/321200067_631968012061456_8448496351789149171_n.jpg?stp=cp6_dst-jpg_s960x960&_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=fmC40AUxuhMAX_ld9wc&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfAVj2v9gWhudS4gM7Guqo-NibaDZJ8saX0vxMr6G9cNsA&oe=63AC0A33"
                            alt="" class="anh anh6"></a>

                    <h3 class="line_below_img"> Ảnh 6 </h3>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>