<!-- “Activity section used for providing users activities information
//Made by Anh Khôi” -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/activities.css">
    <title>Document</title>
</head>

<div>
    <!--file div tổng chứa activities-->
    <div class="background-activities">
        <!-- file div chứa cả 2 dòng -->
        <div class="bothline">
            <!-- file div chứa line 1 -->
            <div class="line1">
                <!-- file div chứa nội dung ảnh 1 -->
                <div class="folder anh1">
                    <a href=""> <img src="../static/images/activities/activities1.jpg"
                            alt="activites1" class="anh anh1"> </a>

                    <h3 class="line_below_img"> Ảnh 1 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 2 -->
                <div class="folder anh2">
                    <a href=""> <img src="../static/images/activities/activities2.jpg"
                            alt="activites2" class="anh anh2"></a>

                    <h3 class="line_below_img"> Ảnh 2 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 3 -->
                <div class="folder anh3">
                    <a href=""> <img src="../static/images/activities/activities3.jpg"
                            alt="activites3" class="anh anh3"></a>

                    <h3 class="line_below_img"> Ảnh 3 </h3>
                </div>
            </div>
            <!-- file div chứa line 2 -->
            <div class="line2">
                <!-- file div chứa nội dung ảnh 4 -->
                <div class="folder anh4">

                    <a href=""> <img src="../static/images/activities/activities4.jpg"
                            alt="activites4" class="anh anh4"> </a>

                    <h3 class="line_below_img"> Ảnh 4 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 5 -->
                <div class="folder anh5">
                    <a href=""> <img src="../static/images/activities/activites5.jpg"
                            alt="activites5" class="anh anh5"></a>

                    <h3 class="line_below_img"> Ảnh 5 </h3>
                </div>
                <!-- file div chứa nội dung ảnh 6 -->
                <div class="folder anh6">
                    <a href=""> <img src="../static/images/activities/activites6.jpg"
                            alt="activites6" class="anh anh6"></a>

                    <h3 class="line_below_img"> Ảnh 6 </h3>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</html>