.text-black {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #283746;
  font-size: 18px;
  padding-right: 15px;
  position: relative;
}

.text-black::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #365949;
  transition: all .5s
}
.text-black:hover::after{
  width: 100%
}

.shadow {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000000;
}

.search_navbar {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: white;
  transition: all .5s;
}

.btn_navbar {
  width: 45px;
  height: 45px;
  color: #365949;
  border-radius: 50%;
  border: 4px solid #365949;
  position: absolute;
  right: 0;
  color: "#365949";
  transition: all .5s;
}

.input_navbar {
  position: absolute;
  width: 100%;
  height: 45px;
  padding: 0;
  right:0;
  top:0;
  border: 4px solid #365949;
  border-radius: 23px;
}

.search_navbar:hover {
  width: 200px;
}

.search_navbar:hover .btn_navbar {
  background-color: #365949;
  color: white;
}

.search_navbar:hover .input_navbar {
  padding: 5px 50px 5px 15px
}